{% extends 'base.html.twig' %}

{% block title %}KPI{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Add Parameter</button>
    {{ form_end(form) }}
{% endblock %}